services:
    jenkins:
      container_name: jenkins
      image: jenkins/jenkins:lts
      ports:
        - "9080:8080"
      volumes:
        - jenkins-data:/var/jenkins_home
      networks:
        - jenkins-network

networks:
  jenkins-network:

volumes:
  jenkins-data:
